.create {
    display: flex;
    justify-content: center;
}

.create_container {
    display: flex;
    flex-direction: column;
}

.createBox {    
    padding: 30px 0px 20px 50px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
}

.field {
    padding: 3px;
}




