.timeline {
    display: flex;
    flex-direction: row;
    min-width: 500px;
}

.timeline_left {
    flex: 0.6;
}

.timeline_right {
    flex: 0.4;
    min-width: 400px;
    position: fixed;
    right: 50px
}

.timeline_search {
    margin-left: 8%;
}

.timeline_search > input {
    width: 300px;
}